# Environment
python-dotenv
langchain
langchain_community
langchain-experimental==0.3.4
langchain_openai==0.3.9
# Server-side
fastapi
uvicorn
python-multipart
# Database
sqlalchemy
psycopg2-binary
asyncpg
# Authentication
google-auth
google-auth-oauthlib
